
h1{
    border-bottom: 2px solid #00F;
}

h2{
    border: 2px solid #AAA; 
}

ul{
    border-bottom: 4px dotted #F00;
    border-top: 4px dotted #F00;

}

.ContLib{
    border: 2px dotted #0F0;
}





















