

h1 {
    border: 2px solid #00F;
    padding: 10px;
    margin: 30px 0px;
}

h2 {
    border: 2px solid #AAA;
    padding: 5px;
    margin: 15px 0px;
}


ul {
    border: 2px solid #0f0;
}

ul li{
    margin: 15px ;
}
/*A*/
body {
    margin: 0px 50px;
}


















