body{
    background-color: #CFC;
}

p {
    color: #00F;
    font-family: Georgia, Cambria, serif;
    font-size: 16px;
}

p strong{
    font-size: 20px;

}

h1, h2{
    color: #F00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;

}

h2 {
    color: #A00;
    font-size: 24px;

}

ul li{
    color: #00F;

}

.TxtR{
    color: #fff;
    background-color: #000;
    font-family: cursive;

}






















