*{
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 30px 0px;
}

ul li {
    list-style-type: none;
}

.ContenedorGeneral {
    display: grid;
    grid-template-columns: 25% 75%;
}

.ContenedorGeneral main p {
    margin-bottom: 15px;
}

.ContenedorGeneral h2 {
    margin: 15px 0px;
}

.ContenedorGeneral main ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


















