

table, td, th {
    border: 3px solid grey;
}

table tr:nth-of-type(1) th{
    background-color: rgb(226, 225, 225);
}

table tr:nth-of-type(even) td{
    background-color: #FFFF66;
}

tr th{
    background-color: rgb(206, 239, 250);
}


tr:hover{
    background-color: yellow;
}

tr th.Cambio{
    display: flex;
    justify-content: flex-start;
}

th .material-symbols-outlined{
    font-size: 20px;

}






















